{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "env": {
    "browser": false,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-tabs": 0,
    "indent": ["error", "tab"],
    "no-underscore-dangle": [
      'error',
      {
        "allow": ["_id", "_auth"],
        "allowAfterThis": true
      }
    ],
    "func-names": ["error", "never"],
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": ["req", "res", "ret"]
      }
    ],
    "no-shadow": ["error", { "allow": ["err"] }],
  }
}
